@font-face{
    font-family: "Noto-Sans";
    src:url('fonts/Noto_sans/NotoSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: "Noto-Sans";
    src:url('fonts/Noto_sans/NotoSans-Medium.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face{
    font-family: "Open-Sans";
    src:url('fonts/Open_sans/static/OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: "Open-Sans";
    src:url('fonts/Open_sans/static/OpenSans-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

body{
    background-color: white;
}

.full-scn{
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    
}

.px-5{
   padding-right: 5vw;
    padding-left: 5vw; 
}

.section{
    display: flex;
    flex-direction: row;
}
.textbox{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40vw;
}

.contentbox__img{

    width: auto;
    height: auto;
}

.main-section{
    background-image: url('img/midjourney-v5-4.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    flex-direction: column;
}

.header{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.logo{
    display: inline;
}
.logo__img{
    width: 60%;
    height: auto;
}

.nav{
    border-bottom: 2px solid;
    border-color: rgba(255, 255, 255, 0.5);
    padding: 1vh 0;
}

.nav-dark{
    border-color: rgba(97, 55, 141, 0.5);
}
.nav_item{
    margin-left: 2vw;
}
.nav_item:last-child{
    margin-right: 2vw;
}
.text{
    font-size: calc(12px + 3 * (100vw / 1349));
    line-height: calc(16px + 3 * (100vw / 1349));
    font-family: "Open-Sans", Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    hyphens: auto;
    color:#120d1d;
}

.title{
    font-size: calc(24px + 32 * (100vw / 1349));
    line-height: calc(28px + 36 * (100vw / 1349));
    margin-bottom: 2vh;
}

.subtitle{
    font-size: calc(20px + 4 * (100vw / 1349));
    line-height: calc(28px + 8 * (100vw / 1349));
}

.text-white{
    color: #fcfbf6;
}
.text-bold{
    font-weight: bold;
}
.text-centered{
    text-align: center;
}
.text-i{
    font-style: italic;
}

.text-shadow{
    text-shadow: 3px 3px 0 #ba9cca;
}

.button{
    display: block;
    width: 13vw;
    margin-top: 5vh;
    padding: 1.5vh 1vw;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;    
    text-align: center;
}

.button-white{
    background-color: #ffffff;
}
.button-light{
    background-color: #ba9cca;
}
.button-dark{
    background-color: rgb(97, 55, 141);
}
.button-border{
    border: 2px solid rgb(97, 55, 141);
}

.team-main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 45vw;
    margin-left: 5vw;
    padding: 5vh 0 0;
}

.card-list{
    margin-top: 5vh;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.card-section{
    background-color: #fcf8d2;
    border-radius: 20px;
    display: flex;
    margin: 3vh 0;
    box-sizing: border-box;
}

.studio-section{
    flex-direction: column;
}


.p-2{
    padding: 2vw;
}

.section-textbox{
    flex-grow: 1;
    margin-left: 2vw;
}
.section-textbox__head{
    margin-bottom: 2vh;
}


.team__card{
    width: 12vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.team__card__img{
    width: 85%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 5%;
}
.team-section__img{
    width: 15%;
    margin-bottom: 0;
    align-self: center;
}
.team-member__img{
    width: 40%;
}
.team__link{
    width: 100%;
    text-align: right;
    margin-top: 2%;
}
.servs__img{
    width: 80%;
    border-radius: 20px 0 0 20px;
    background-image:unset;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-studio{
    background-image: unset;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  

.hidden{
    display: none;
}

.footer{
    background-color: #120d1d;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 10vh 5vw;
}

.footer-item{
    width: 35vw;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-bottom: 4vh;
}

.videobox{
    margin: 0 5vw 0 -5vw;
    width: 40vw;
    height: 100vh;
    overflow: hidden;
}

.videosection{
    display: flex;
    flex-direction: row;
}

.popup-wrapper{
    position: fixed;
    left:0;
    top:0;
    background-color: rgba(78, 78, 78, 0.5);
    z-index: 2;
}

.popup{
    display: inline-block;
    position: fixed;
    background-color: white;
    border-radius: 30px;
    top: 15vh;
    right: 7vw;
}

.gallery{
    -webkit-column-width: 28vw;
    -moz-column-width: 28vw;
    column-width: 28vw;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 5px;
    -moz-column-gap: 5px;
    column-gap: 2vw;
}
.gallery-link{
    display: inline-block;
    margin-bottom: 2vw;
}
.gallery-img{
    object-fit: cover;
    max-width: 28vw;
    height: auto;
    
}

.list{
    margin-top: 3vh;
}
.list-item::before{
    content: url('img/list-icon_1.png');
    margin-right: 5px;
}
.list-item{
    margin-bottom: 1vh;
}

.py-2{
    padding-top: 4vh;
    padding-bottom: 4vh;
}

.text-m{
    margin:2vh 0 1vh;
}

.button-section{
    justify-content: center;
}
.mx-1{
    margin-left: 1vw;
    margin-right: 1vw;
}
.my-2{
    margin-top: 4vh;
    margin-bottom: 4vh;
}
.popup-centered{
    left:25vw;
    right:25vw;
    top: 30vh;
    bottom: 30vh;
}

.booking{
    background-color: #fcf8d2;
    border-radius: 20px;
}
.line{
   border:1px solid rgba(97, 55, 141, 0.5); 
}

.carousel_container{
    overflow: hidden;
}
.carousel_img{
    object-fit: cover;width: 100%; height: auto;
}
.absolute{
    position: absolute;
    left:0;
    top:0;
    background-color: rgba(78, 78, 78, 0.5);
}
.menu-wrapper{
    background-color: #120d1d;
    z-index: 2;
}

@media (min-width: 300px) and (max-width: 800px) {
    nav {
      display: none;
    }
    .footer{
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .footer-item{
        width: 100%;
    }
    .footer-item .logo .logo__img{
        width: 30%;
    }
    .footer-item .logo{
        margin-top: 4vh;
        margin-bottom: 2vh;
    }
    .section{
        flex-direction: column;
    }
    .textbox{
        width: 100%;
    }
    .button{
        width: auto;
    }
    .team-main{
        width: 100%;
        overflow: hidden;
        justify-content: center;
        padding: 0;
        margin: 0;
    }
    .team__card{
        width: 40%;
        margin: 2vh 2vw;
    }
    .team__card:nth-child(5),.team__card:nth-child(6){
        display: none;
    }
    .team-main .team__card__img{
        width: 40%;
    }
    .card-section{
        flex-direction: column;
    }
    .team__card__img{
        margin: auto;
        width: 30%;
    }
    .section-textbox .section-textbox__head{
        text-align: center;
    }
    .gallery-img{
        max-width: 40vw;
    }
    .servs__img{
        width: 100%;
        height: 40vh;
        border-radius: 20px 20px 0 0;
    }
    .carousel_img{
        object-fit: contain;
        width: auto;
    }
    .main-section .textbox{
        justify-content: flex-end;
        padding-bottom: 4vh;
    }
    .videosection{
        flex-direction: column-reverse
    }
    .videobox{
        width: calc(100% + 10vw);
    }
    .videobox video{
        width: calc(100% + 10vw);
    }
    .videosection .textbox{
        padding: 4vh 0;
    }
  }
  @media (min-width: 800px) {
    .menu-btn {
      display: none;
    }
  }
  @media (min-width: 800px) and (max-width: 1100px){
    .button{
        width: auto;
    }
    .card-section{
        flex-direction: column;
    }
    .section-textbox .section-textbox__head{
        text-align: center;
    }
    #team{
        flex-direction: column;
    }
    .section .team__card__img{
        margin: auto; 
    }
    .servs__img{
        width: 100%;
        height: 70vh;
        border-radius: 20px 20px 0 0;
    }
  }